@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-black text-white;
}

::selection {
  background: #6366f1;
  color: white;
}
